/* 
 * cssframework://etui/legacy/smesp/aboutus.less
 * About us page
 */


#et-sme-aboutus
{
	#et-sme-aboutus-mainstage
	{
		background: transparent url(/_imgs/sme/sp/aboutus_mainstage_bg.jpg) no-repeat;
		width: 100%;
		height: 624px;
		position: relative;
		
		#et-sme-aboutus-mainstage-text
		{
			background-color: @et-color-darkergray;
			bottom: 0;
			left: 0;
			position: absolute;
			width: 528px;
			color: #FFF;
			opacity: 0.9;
			filter: alpha(opacity=90);
			font-size: 1.25em;
			line-height: 1.667em;
			padding: @et-section-padding-large;
			a
			{
				color: #FFF;
				text-decoration: underline;
			}
		}
	}
	
	#et-sme-aboutus-awards
	{
		
		
		#et-sme-aboutus-awards-inner
		{
			background: transparent url(/_imgs/sme/sp/awards_cup.png) no-repeat 0 34px;
			display: table;
			padding-left: 176px;
			padding-bottom: @et-section-padding-large;

			li
			{
				width: 210px;
				margin-right: @et-section-padding-large;
				float: left;
				h3
				{
					font-weight: bolder;
				}
				p
				{
					min-height: 42px;
				}
			}
			
			li.et-every3
			{
				clear: both;
			}
			
			.et-sme-brandlogo-container
			{
				height: 140px;
				width: 140px;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
}


html.msie6 #et-sme-aboutus
{
	#et-sme-aboutus-awards
	{
		#et-sme-aboutus-awards-inner
		{
			background-image: url(/_imgs/sme/sp/awards_cup.gif);
			
			li
			{
				p
				{
					height: 42px;
				}
			}
			
			.et-sme-brandlogo-container
			{
				position: relative;
				top: 15%;
				.et-sme-brandlogo
				{
					
				}
			}
		}
	}
}
