.et-sme-clients-clientsdt
{
    background: transparent url("#CacheSvr#/_imgs/sme/sp/clients/clients_bg.png") left top no-repeat;
    margin: 0 42px;
	.et-sme-headline2
	{
		margin: 0 0 25px;
	}
}
.et-sme-clients-clientsdt-list 
{
    float: left;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 10px;
    width: 178px;
	li
	{
		h3
		{
			font-weight: bold;
		}
	}
}
.et-sme-clients-clientsdt-list li h3, .et-sme-clients-clientsdt-list li p
{
    padding: 5px 15px;
}
.et-sme-rotator-con
{
    background: transparent url("#CacheSvr#/_imgs/sme/sp/clients/textpanel.png") right top no-repeat;
	.et-sme-rotator-image
	{
		float: left;
	}
}
.et-sme-rotator-con-desc 
{
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    margin-left: 490px;
    padding: 30px;
	ul
	{
		font-weight: bold;
		margin-top: 10px;
	}
}