/*
 * cssframework://etui/legacy/smesp/common.less
 * SME Common css
 */


@et-color-lightergray: #f5f5f6;
@et-color-gray: #b6bbbe;
@et-color-darkgray: #92999e;
@et-color-darkergray: #4a565e;
@et-color-darkblue: #0070b8;
@et-color-blue: #0097d3;
@et-color-lightblue: #98c5e2;

body
{
    background: transparent url(#CacheSvr#/_imgs/etui/legacy/common/bg_dot.gif) repeat 0 0;
}

html.non-html5browser body
{
    /* hide the dots background because when it stick to the border
     * it makes it ugly */
    background: none;
}

#et_header_phone
{
    /* hide the cell phone info because hk team asked for it
     * the other one is in footer.less */
    visibility: hidden;
}


/* font-sprite relocation */
.et-sme-discarrow-r
{
    font-size: 130%;
}
.et-sme-linkfs
{
    color: @et-color-blue;
    font-size: 110%;
    vertical-align: top;
}


.et-section a.et-sme-linkbutton,
.et-section-closing a.et-sme-linkbutton,
.et-section-opening a.et-sme-linkbutton
{
    color: @et-color-blue;
    text-decoration: underline;
    display: inline-block;
    &:link
    {
        color: @et-color-blue;
    }
    &:visited
    {
        color: @et-color-blue;
    }
    &:active
    {
        color: @et-color-blue;
    }
    &:hover
    {
        color: @et-color-blue;
    }
}
html.msie6
{
    .et-section a.et-sme-linkbutton,
    .et-section-closing a.et-sme-linkbutton,
    .et-section-opening a.et-sme-linkbutton
    {
        display: inline;
        zoom: 1;
    }
}

/* a single row in et-section */
.et-sme-ro
{
    margin: 0 0 30px;
}
.et-sme-headline1
{
    font-size: 38px;
    line-height: 42px;
    margin: 0 0 20px;
}
.et-sme-headline2
{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
.et-sme-headline3
{
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}
.et-sme-paragraph
{
    font-size: 15px;
    line-height: 20px;
    a,a:link,a:visited,a:hover,a:active
    {
        color: #0070b8;
        text-decoration: underline;
    }
}
.et-sme-hldesc
{
    color: #afb4b8;
    font-size: 20px;
    line-height: 24px;
}
.et-sme-italic
{
    font-style: italic;
}
blockquote
{
    .et-sme-paragraph
    {
        color: @et-color-darkgray;
        padding: 15px 0 0 45px;
    }
    .et-sme-headline2
    {
        font-family: Times New Roman;
    }
}
.et-sme-quotehl
{
    .et-sme-paragraph
    {
        text-align: center;
    }
}
.et-sme-signature
{
    font-size: 12px;
    line-height: 15px;
}
.et-sme-none
{
    display: none;
}
/* the get started banner in each page */
.et-sme-getstarted
{
    font-size: 20px;
    line-height: 24px;
    padding: 0 42px;
}

/* the shadow container */
.et-sme-navshadow-container
{
    position: relative;
    width: 100%;
}

/* Panes { */
.et-sme-pane-graynoisy
{
    background: #FFF url(#CacheSvr#/_imgs/sme/sp/mainstagebg.jpg) 0 bottom repeat-x;
}
.et-sme-pane-topshadow
{
    background: #FFF url(#CacheSvr#/_imgs/sme/sp/mainstagebg.jpg) 0 top repeat-x;
}
/* Panes } */

/* List { */

.et-sme-list-selectable
{
    @et-sme-faq-questions-radius: 2px;
    @et-sme-list-selectable-border: 1px solid #dadcde;
    width: 100%;
    clear: both;
    color: @et-color-darkergray;
    ul.et-sme-list-root
    {
        width: 200px;

        .et-sme-subcontainer
        {
            display: none;
        }
        li
        {
            margin: 2px 0;
            height: 26px;
            padding-left: 8px;
            line-height: 26px;
            cursor: pointer;

            a
            {
                display: block;
                width: 100%;
                height: 100%;
                margin:0;
                padding:0;
                color: @et-color-darkergray;
                &:hover
                {
                    text-decoration: none;
                }
            }
            .et-label
            {
                vertical-align: baseline;
            }
            .et-fs-dings
            {
                font-size: 142%;
                vertical-align: baseline;
                color: @et-color-darkergray;
                margin-left: 4px;
            }

            ul
            {
                padding-left: 20px;
                width: 190px;
                color: @et-color-darkgray;
                padding-top: 0.6em;

                li
                {
                    /* delete float:left to avoid the bug (bullets disappear) in IE7 & IE6  */
                    line-height: 1.25em;
                    margin: 0 0 1.2em;
                    height: auto;

                    div.et-sme-subcontainer
                    {
                        h5
                        {
                            font-weight: bolder;
                            padding-bottom: 1em;
                            line-height: 1.25em;
                            font-size: 1.25em;
                        }
                        -webkit-border-radius: @et-sme-faq-questions-radius;
                        -moz-border-radius: @et-sme-faq-questions-radius;
                        border-radius: @et-sme-faq-questions-radius;
                        margin-left: 30px;
                        padding: @et-section-padding-small;
                        width: 424px;
                        border: @et-sme-list-selectable-border;
                        cursor: default;
                    }
                }
            }


        }
        li.et-active
        {
            color: #FFF;
            background: transparent url(#CacheSvr#/_imgs/sme/sp/listpanel_active.png)  no-repeat;

            a
            {
                color: #FFF;
            }
            .et-fs-dings
            {
                color: #FFF;
            }
            .et-sme-subcontainer
            {
                display: block;

                .et-sme-subcontainer
                {
                    display: none;
                    border: none;
                }

                li.et-active
                {
                    .et-sme-subcontainer
                    {
                        display: block;
                        border: @et-sme-list-selectable-border;
                    }
                }

            }

            ul.et-sme-list-2nd
            {
                li
                {
                    list-style-type: disc;
                    color: @et-color-darkgray;
                    background: none;
                }
                li.et-active
                {
                    color: @et-color-darkergray;
                }
            }

        }
    }
}

/* List } */

/* the shadow container */
.et-sme-navshadow-container
{
    position: relative;
    width: 100%;
}


/* Panes { */
.et-sme-pane-graynoisy
{
    background: #FFF url(#CacheSvr#/_imgs/sme/sp/mainstagebg.jpg) 0 bottom repeat-x;
}
.et-sme-pane-topshadow
{
    background: #FFF url(#CacheSvr#/_imgs/sme/sp/mainstagebg.jpg) 0 top repeat-x;
}
/* Panes } */

.et-sme-top-headlines
{
    h1
    {
        width: 770px;
    }
    p
    {
        width: 660px;
    }
}


/*thumbnails styles start*/
.et-thumbnails-image
{
    padding: 10px 30px;
}
.et-thumbnails-desc
{
    display: table-cell;
    padding-right: 58px;
    vertical-align: middle;
}
.et-thumbnails-mainpanel-enable
{
    position: relative;
    .et-thumbnails-slide
    {
        left: 0;
        right: 0;
        position: absolute;
    }
}

.et-thumbnails-none
{
    display: none;
}
.et-thumbnails-control
{
    width: 100%;
    li
    {
        float: left;
    }
    a,a:link,a:visited,a:hover,a:active
    {
        text-decoration: none;
    }
}
.et-thumbnails-l, .et-thumbnails-r
{
    margin: 25px 0 0;
}
.et-thumbnails-m
{
    margin: 0 20px;
    overflow: hidden;
    width: 795px;
}
.et-thumbnails-lbtn, .et-thumbnails-rbtn
{
    background: #fff url("#CacheSvr#/_imgs/sme/sp/features/thumbnailbtn_bg.png") center center no-repeat;
}
.et-thumbnails-lbtn
{
    span
    {
        background: transparent url("#CacheSvr#/_imgs/sme/sp/features/thumbnailbtn_larrow.png") center center no-repeat;
    }
}
.et-thumbnails-rbtn
{
    span
    {
        background: transparent url("#CacheSvr#/_imgs/sme/sp/features/thumbnailbtn_rarrow.png") center center no-repeat;
    }
}
.et-thumbnails-rbtn, .et-thumbnails-lbtn
{
    display: block;
}
.et-thumbnails-control
{
    li
    {
        a
        {
            span
            {
                color: #fff;
                line-height: 20px;
                padding: 0 10px;
            }
        }
    }
}
.et-thumbnails-thumb
{
    margin: 0 10px 0 0;
    overflow: hidden;
    width: 105px;
    p
    {
        font-size: 11px;
        line-height: 13px;
        text-align: center;
    }
}
.et-thumbnails-thumb-last
{
    margin: 0;
}
.et-thumbnails-thumb:hover, .et-thumbnails-active
{
    color: #006db4;
    cursor: pointer;
    .et-thumbnails-thumbpic
    {
        background: transparent url("#CacheSvr#/_imgs/sme/sp/features/thnactivedpanel.png") left top no-repeat;
    }
}
.et-thumbnails-thumbpic
{
    background: transparent url("#CacheSvr#/_imgs/sme/sp/features/thnpanel.png") left top no-repeat;
    margin-bottom: 5px;
    min-height: 56px;
    padding: 4px;
}
.et-thumbnails-thumbs
{
    margin: 0;
    width: 3000px;
}
/*thumbnails styles end*/
