#et-sme-faq
{
	#et-sme-faq-headline
	{
		float: left;
		h1
		{
			font-size: 3.167em;
			line-height: 1.105em;
		}
		
		p
		{
			font-weight: normal;
			font-size: 1.667em;
			line-height: 1.2em;
			color: @et-color-darkgray;
		}
	}
	
	#et-sme-faq-contactus
	{
		float: right;
		color: @et-color-darkgray;
		line-height: 1.667em;
		border-left: 1px solid #dadcde;
		padding-left: 9px;
		h3
		{
			font-weight: bolder;
		}
		p
		{
		}
	}
	
	#et-sme-faq-questions
	{
		width: 100%;
		clear: both;
		
		h2
		{
			font-weight: bolder;
		}
	}
}
