/* 
 * cssframework://etui/legacy/smesp/features.less
 * SME features css
 */

#et-sme-feature .et-sme-feature-top, 
#et-sme-feature .et-sme-feature-thumbnails h2
{
    padding: 42px;
}
.et-sme-feature-descp
{
    width: 665px;
}

#et-sme-feature 
{
    .et-sme-feature-headinfo
    {
	    width: 690px;
    }
    .et-thumbnails-control
    {
        padding: 20px 42px;
	
	/* Reset width from Class .et-thumbnails-control to make body and footer align justified in IE6 */
	width:auto;
    }
    .et-thumbnails-slide
    {
        td
        {
            vertical-align: middle;
        }
    }
    .et-thumbnails-image
    {
        text-align: center;
    }
}
.et-sme-feature-brief
{
    background: transparent url("#CacheSvr#/_imgs/sme/sp/features/bigComputer.png") right top no-repeat;
    margin-right: -15px;
    min-height: 325px;
    padding: 55px 605px 0 0;
}
.et-sme-feature-steps 
{
	.et-sme-feature-odd
	{
		clear: left;
		margin-right: 90px;
	}
}
.et-sme-feature-sponsor
{
    text-align: center;
    padding: 40px 0 0;
    overflow: hidden;
}
.et-sme-feature-step
{
    float: left;
    padding: 40px 0 0;
    width: 395px;
}
.et-sme-feature-step-icon
{
    background: #fff url("#CacheSvr#/_imgs/sme/sp/features/stepicon.png") center center no-repeat;
    color: #fff;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 20px;
}
.et-sme-feature-thumbnails
{
    border-top: 1px solid #f5f5f6;
    position: relative;
}
.msie6 
{
	.et-sme-feature-brief
	{
		height: 325px;
	}
}
