#et-wrapper
{
	#et-footer
	{
		.et-sme-upper
		{
			.et-sme-links
			{
				float: left;
				padding-left: @et-section-padding-medium;
				
			}
			
			.et-sme-contacts
			{
				float: left;
				padding-right: @et-section-padding-medium;
				
				.et-sme-contact
				{
					
				}
				
				.et-sme-social
				{
					
				}
			}
			
			.et-sme-col
			{
				float: left;
				width: 14.167em;
				padding-left: 0.417em;
				color: #b6bbbe;
				
				h5
				{
					font-weight: bolder;
				}
			}
			
			.et-sme-tel
			{
				font-size: 1.273em;
				font-weight: bolder;
			}
			
			.et-sme-telicon
			{
				font-size: 1.4em;
				vertical-align: top;
			}
		}

		.et-sme-copyright
		{
		}
	}
}

