#et-wrapper
{
	#et-footer
	{
		.et-sme-upper
		{
			.et-sme-links
			{
				padding: 0 @et-section-padding-medium;
				.et-sme-link
				{
					float: left;
					width: 14.167em;
					padding-left: 0.417em;
					color: #b6bbbe;
					
					h5
					{
						font-weight: bolder;
					}
				}
			}
			
			.et-sme-contacts
			{
				
			}
		}

		.et-sme-copyright
		{
		}
	}
}
