/* 
cssframework://etui/legacy/smesp/home.less
*/

#et-sme-home
{
	.et-helper-reset;
	
	.et-sme-top
	{
		margin-right: 0;
		#et-sme-home-topscreen-desc
		{
			width: 316px; 
			font-size: 14px;
			
			h1
			{
				font-size: 2em;
				line-height: 1em;
				font-weight: normal;
			}
			p
			{
				margin: 5px auto;
			}
		}
		#et-sme-home-topscreen-img
		{
			width: 610px;
		}
	}
	
	.et-sme-bottom
	{
		#et-sme-home-4reason
		{
			.et-sme-reason
			{
				width: 222px;
				float: left;
				.et-sme-icon-wrapper
				{
					text-align: center;
				}
			}
		}
	}
}
