/* 
cssframework://etui/legacy/smesp/home.less
*/

#et-sme-home
{
	.et-helper-reset;
	
	.et-sme-upper
	{
		margin-right: 0;
		#et-sme-home-topscreen-desc
		{
			width: 316px; 
			font-size: 14px;
			
			h1
			{
				font-size: 2em;
				line-height: 1em;
				font-weight: normal;
			}
			p
			{
				margin: 5px auto;
			}
		}
		#et-sme-home-topscreen-img
		{
			width: 610px;
		}
	}
}
