/* 
cssframework://etui/legacy/sp/3rdtier.rtl.less
*/

html.et-lng-rtl
{
    /* TODO: put it to interior? */
    .et_breadcrumb_arrow 
    {
        margin-right:28px;
        margin-left: 30px; 
        a
        {
            background-image: url(#CacheSvr#/_imgs/online/sp2010/et_breadcrumb_arrow_rtl.png);
            background-position: right 1px;
            background-repeat: no-repeat;
            &:first-child { padding-left:8px ; padding-right: 0; }
        }
    }
    
    #et_3rd_main_content
    {
        padding-right: 30px;
        padding-left: 15px;
        .et_3rd_align_left { float: right; }
        .et_3rd_align_right { float: left; }
        .et_3rd_intro { padding-left: 30px; padding-right: 15px;}
        
        .et_3rd_intro_alt 
        { 
            padding-left: 0; padding-right: 30px;
            margin-left:-15px; margin-right: -30px;
        }

        /* stretch width to fix the wrapper's width */
        .et_3rd_fullwidth 
        {
            margin:0 -30px 0 -15px !important;
        }
    
        .et_3rd_title
        {
            padding-left: 0;
            padding-right: 25px; 
            li 
            {
                float: right;
                padding-left: 4px;
                padding-right: 8px; 
            }
        }
        
        .et_3rd_video_box 
        {
            padding-left: 20px;
            padding-right: 30px;
            .et_align_left 
            {
                float:right;
                margin-left: 10px;
                margin-right: 0;
            }
        }
        
        .col2 
        { 
            float: left; 
            .box 
            {  
                ul
                {
                    padding-left:  23px; padding-right:  22px; 
                    li a 
                    {
                        background-position:left 50%; 
                        background-image: url(#CacheSvr#/_imgs/online/sp2010/et_arrow_disc_lightgray_rtl.gif);
                    }
                }
            }
        }
        
        .press-list 
        { 
            span { float: right; }
            .text 
            {
                float: left; 
                padding-left: 6px;
                padding-right: 0; 
            }
        }
        
        
        .twocols
        {
            .col1 { float:right; }
            .heading 
            { 
                background:url(#CacheSvr#/_imgs/online/sp2010/et_bg_title.gif) repeat-x;
            }
            .et_3tier_demo_videos li 
            {
                padding-left: 17px;
                padding-right: 21px;
                float: right;
            }
        }
        
        /* + Multimedia Page - Begin */
        
        .et_multimedia_tabs_area 
        {
            .tabset 
            {
                float: right;
                li a
                {
                    &:hover,
                    &.active
                    {
                        background-position: left 50%;
                        background-image: url(#CacheSvr#/_imgs/online/sp2010/et_specialpage_intro_list_arrow_rtl.png);
                    }
                }
            }
            
            .et_multimedia_list_download 
            {
                margin-left: -12px;
                margin-right: 0;
                li {
                    float:right; 
                    margin-left: 12px;
                    margin-right: 0;
                }
            }
        }
        /* + Multimedia Page - End */
    
    }
    
    .et_3rd_main_block_alt 
    {
        padding-left: 12px;
        padding-right: 32px;
    }
    .et_3rd_main_block 
    {
        .data-box
        {
            float: right;
            ul li
            {
                margin-right:11px;
                margin-left: auto;
                padding-right:10px;
                padding-left: 0;
            }
            
            dt, dd
            {
                float: right;
            }
            
            .et_sites_list
            {
                li span, li a { float: right; }
            }
        }
        
        .partners
        {
            float: left;
        }
    }
    
    /* + Teacher Career - Begin */
        
    .et_3rd_teachercareer_teacher { position: static;}
    
    /* + Teacher Career - End */
    
    /* + The Team - Begin */
    
    .et_3rd_the_team 
    {
        .et_tab-aside
        {
            float: left;
            margin-left: -5px;
            margin-right: 0;
            padding-left: 0;
            padding-right: 30px; 
            
            .et_tabset 
            {
                margin-left: -15px;
                margin-right: 0; 
                li 
                {
                    background: url(#CacheSvr#/_imgs/online/sp2010/separator-01.gif) repeat-x 0 100%; 
                }
                .et_img-box 
                { 
                    background: url(#CacheSvr#/_imgs/online/sp2010/bg-img-box.gif) no-repeat; 
                    padding-left: 0;
                    padding-right: 11px;
                    margin-left: 4px;
                    margin-right: -3px;  
                }
                .et_text-box
                {
                    margin-left: -15px;
                    margin-right: 0;
                }
                
            }
        }
        
        .et_tab-content
        {
            .et_visual 
            { 
                float: right; 
                left: auto; 
                right: -32px; 
                padding-left:0;
                padding-right:41px; 
                img { float: right; }
            }
            
            .et_comment-text 
            { 
                background-position: right 2px;
                padding-left:0;
                padding-right: 47px; 
            }
            
            .et_btn-row
            {
                padding-left: 20px;
                padding-right: 0; 
                
                .et_more 
                {
                    float: left;
                    padding-left: 27px;
                    padding-right: 0;
                    background-position: left 0;
                }
                .et_prev
                {
                    background-position: right 0;
                    float: right;
                    padding-left:0;
                    padding-right:30px;
                }
            }
        }
    }
    
    /* + The Team - End */
    
    /* + Online Course + Begin */
    
    #et_2nd_school_intro_menu 
    { 
        float: right; 
        .menu_item
        {
            p
            {
                padding-left: 20px;
                padding-right: 32px;
            }
            .new_item
            {
                background-position: 178px  10px;
            }
        }
    }
    #et_2nd_school_intro_contents { float: right; }
    .et_2nd_school_intro_menu_arror 
    { 
        left: auto; right: 208px; 
        background-image: url(#CacheSvr#/_imgs/online/sp2010/et_arrow_lightgray_left.png);
    }
    /* + Online Course + End */
    
    /* + Demos - Begin */
    
    #et_3rd_main_content
    {
        .et_tabs_area_videos
        {
            padding-right: 30px;
            padding-left: 0;
            
            .et_tab_content,
            .et_tabset
            {
                float: right;
            }
            
            .et_tab_content
            {
                margin-right: -2px;
                margin-left: auto;
            }
            
            .et_tabset li a
            {
                padding-right: 15px;
                padding-left: 0;
                &:hover,
                &.active
                {
                    background-image: url(#CacheSvr#/_imgs/online/sp2010/et_bg_tabset_rtl.gif);
                }
            }
        }
    }
    
    /* + Demos - End */
    
    /* + Learn - Begin */
    
    .et_3rd_learn #sectionA .et_interior_section_text_left 
    {
        margin-left: -50px; 
        margin-right: auto;
    }
    .et_3rd_learn #sectionB .et_interior_section_text_right 
    {
        margin-right: -50px; 
        margin-left: auto;
    }
    
    /* + Learn - End */
    
    /* + Other - Begin */
    
    /* New button style on 'press' pages */
    .et_button_back_news_std { margin-right: auto; margin-left: 0; float: left; }
    
    /* Study abroad */
    .et_boxes_courses .et_box_courses_list li 
    { 
        background-position: right 10px;
        padding-right: 15px;
        padding-left: 0;
    }
    
    /* styles that was used in press-coverage */
    .et_interior_press_coverage
    {
        .et_interior_press_coverage_info { float: right; }
        .et_interior_press_coverage_logo
        {
            float: left;
            background-image: url(#CacheSvr#/_imgs/online/sp2010/et_press_coverage_icons_rtl.jpg);
        }
        .et_interior_press_coverage_logo_financialtimes 
        {
            height: 30px; background-position: 0 -700px; margin-top: 10px;
        }
        .et_interior_press_coverage_logo_about
        {
            height: 40px; background-position: 0 -600px;
        }
        .et_interior_press_coverage_logo_embassy
        {
            height: 75px; background-position: 0 -500px; margin-top: -20px;
        }
        .et_interior_press_coverage_logo_hreonline
        {
            height: 60px; background-position: 0 0; 
        }
        .et_interior_press_coverage_logo_eduvac
        {
            height:60px; background-position: 0 -100px;
        }
        .et_interior_press_coverage_logo_asianet
        {
            height: 60px; background-position: 0 -200px;
        }
        .et_interior_press_coverage_logo_gz2010
        {
            height: 80px; margin-top: -20px; background-position: 0 -300px;
        }
        .et_interior_press_coverage_logo_bj2008
        {
            background-position: 0 -400px;
        }
        
    }

    
    /* + Other - End */
}
