/* 
cssframework://etui/legacy/sp/interior.rtl.less
*/
@import url(./interior/findoutmore.rtl.less);
@import url(./interior/levelchart.rtl.less);

html.et-lng-rtl 
{
    /*
        a shared a interior layout css which 
        currently applies to online-school or private teacher pages
    */
    .et_interior_serviceDetail_title {  padding-left: 20px; padding-right: 50px; }
    .et_interior_serviceDetail_desc { padding-left: 0; padding-right: 50px; }
    
    .et_interior_quote
    {
        padding-left: 0; padding-right: 45px; 
        background-position: right top;
    }
}
