/* 
cssframework://etui/legacy/sme/common.less
*/

.et-sme-needhelp
{
    line-height: 11px;
    
    .et-sme-tel
    {
        font-weight: bolder;
        font-size: 14px;
        vertical-align: middle;
    }
    
    .et_sprite_cellphone_large
    {
        vertical-align: middle;
        margin: 8px auto 10px auto;
    }
}
