/* ef group cover flow */
html.et-lng-rtl 
{
    #et_group_timeline_captions
    {
        float: right;
    }
    #et_group_timeline #et_group_timeline_navigation 
    {
        padding-top: 1px;
        background-position: 30px 10px;
    }
    
    #et_group_timeline
    {
        float: left;
    }
}
