/* 
cssframework://etui/legacy/common/974.less
*/

/* this css over writes the common master page and stretch the header to
 * full width and body to 974px */

@et-sme-section-padding-large: 42px;
@et-sme-section-padding-medium: 24px;
@et-sme-section-padding-small: 12px;
@et-sme-section-corner-size: 13px;
@et-sme-content-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.23);

.et-sme-section-corner-bottom
{
	-webkit-border-bottom-right-radius: @et-sme-section-corner-size;
	-webkit-border-bottom-left-radius: @et-sme-section-corner-size;
	-moz-border-radius-bottomright: @et-sme-section-corner-size;
	-moz-border-radius-bottomleft: @et-sme-section-corner-size;
	border-bottom-right-radius: @et-sme-section-corner-size;
	border-bottom-left-radius: @et-sme-section-corner-size;
}
.et-sme-section-corner-top
{
	-webkit-border-top-right-radius: @et-sme-section-corner-size;
	-webkit-border-top-left-radius: @et-sme-section-corner-size;
	-moz-border-radius-topright: @et-sme-section-corner-size;
	-moz-border-radius-topleft: @et-sme-section-corner-size;
	border-top-right-radius: @et-sme-section-corner-size;
	border-top-left-radius: @et-sme-section-corner-size;
}

.et-sme-section-center
{
	width: 974px;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}

.et-sme-section-basic
{
	.et-sme-section-center;
	-webkit-box-shadow: @et-sme-content-shadow;
	-moz-box-shadow: @et-sme-content-shadow;
	box-shadow: @et-sme-content-shadow;
}

.et-sme-section-nonhtml5
{
	border: 1px solid #EEE;
}

/* Section Types { */
.et-sme-section
{
	.et-sme-section-basic;
	margin-top: 20px;
	margin-bottom: 20px;
	border: none;
	.et-sme-section-corner-top;
	.et-sme-section-corner-bottom;
}

.et-sme-section-closing
{	
	margin-bottom: 20px;
	.et-sme-section-basic;
	.et-sme-section-corner-bottom;
}

.et-sme-section-opening
{	
	margin-top: 20px;
	.et-sme-section-basic;
	.et-sme-section-corner-top;
}
/* Section Types } */

/* Section Inner Wrapper Types { */
.et-sme-secwrap-large
{
	margin: @et-sme-section-padding-large;
}

.et-sme-secwrap-medium
{
	margin: @et-sme-section-padding-medium;
}

.et-sme-secwrap-small
{
	margin: @et-sme-section-padding-small;
}
/* Section Inner Wrapper Types } */

html.non-html5browser
{
	.et-sme-section
	{
		.et-sme-section-nonhtml5;
	}
	
	.et-sme-section-closing
	{
		.et-sme-section-nonhtml5;
	}
	
	.et-sme-section-opening
	{
		.et-sme-section-nonhtml5;
	}
}

#et-wrapper.et-pageshadow
{
	width: 100%;
	min-width: auto;
	
	#et-page
	{
		background-image: none;
	}
	
	#et-container
	{
		background-image: none;
		padding: 0;
		
		#et-nav
		{
			ul.etm-tabs
			{
				/* make the nav 974px */
				width: 974px;
				margin: 0 auto;
			}
		}
		
		#et-content
		{
			background: #FFF ;
			.et-sme-section-center;
		}
		
		#et-footer
		{
			.et-sme-section-center;
			.et-sme-upper
			{
				.et-sme-links
				{
					
				}
				
				.et-sme-contacts
				{
					
				}
			}
			
			.et-sme-copyright
			{
			}
			
		}
	}
	
	.et-tail
	{
		display: none;
	}
	
}

.non-html5browser
{
	#et-wrapper.et-pageshadow
	{
		#et-container
		{
			#et-content
			{
				.et-sme-section-nonhtml5;
			}
			
			#et-footer
			{
				.et-sme-section-nonhtml5;
			}
		}
	}
}
