/* 
cssframework://etui/legacy/common/helpers.less
*/

.et-helper-clearfix:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.et-helper-clearfix 
{
	zoom: 1;
}

.et_helper_clearline 
{ 
	clear: both; 
	line-height: 0; 
	margin: 0; 
	padding: 0; 
	font-size: 0;
	height: 0; 
	display: block;
}
html.msie6 .et_helper_clearline 
{ 
	/* hasLayout cause clearline to stretch, this fixes it */
	width: 0;
}

.et-helper-reset 
{
	padding: 0;
	margin: 0;
}

.et-helper-haslayout
{
	zoom:1;
}

.et-helper-context
{
	zoom: 1;
	overflow: hidden;
}

.et-helper-left
{
	float: left;
}
.et-helper-right
{
	float: right;
}
